//stylus library
@import '../../node_modules/nib/index.styl'
//simple media queries for stylus
@import '../../node_modules/rupture/rupture/index.styl'
//flexbox grid plugin
@import '../../node_modules/s-grid/s-grid-settings.styl'
@import '../../node_modules/s-grid/s-grid-functions.styl'

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')


//flexbox polyfill
@import 'flex.styl'

bgGray = #eef2f6
oj = #d65d3c
blu = #2e87bd

body
    font-family 'Open Sans', sans-serif

ul
    list-style none

center()
    flexbox()
    justify-content(center)
    align-items(center)
